<div class="modal-overlay"></div>
<div class="form-container modal-box modal-container register-another-participant">
    <div style="padding: 0 20px;">
        <span class="headline" data-locale-string="participant.registration.groupRegistrationLabel"></span>
    </div>
    <hr/>
    <div class="clearfix" style="width: 100%; padding: 0 20px 20px 20px;">
        <div class="input-container" style="margin: 15px">
            <div style="float: left">
                <img class="group-registration" src="images/content/registration/group-registration-button.png"
                     style="height: 40px; margin-right: 20px;"/>
            </div>
            <div style="float: left; text-align: left; width: 462px; margin-top: 10px;">
                <label data-locale-string="participant.registration.registerAnotherParticipant"></label>
                <button class="form-button" style="margin-left: 10px; float: right" data-ng-click="cancelRegistrationModal()"
                        data-locale-string="participant.registration.no"></button>
                <button class="form-button" style="float: right" data-ng-click="registerAnotherParticipant()"
                        data-locale-string="participant.registration.yes"></button>
            </div>
        </div>
    </div>
</div>