<div class="modal-overlay" data-ng-click="closeGroupRegistrationInfo()"></div>
<div class="form-container modal-box modal-container register-another-participant">
    <div style="padding: 0 20px;">
        <span class="headline" data-locale-string="participant.registration.groupRegistrationLabel"></span>
    </div>
    <hr/>
    <div class="clearfix" style="width: 100%; padding: 0 20px 20px 20px;">
        <div class="input-container" style="margin: 15px">
            <div style="float: left">
                <img class="group-registration" src="images/content/registration/group-registration-button.png"
                     style="height: 40px; margin-right: 20px;"/>
            </div>
            <div style="float: left; text-align: left; width: 500px;">
                <label data-locale-string="participant.registration.groupRegistrationDetail"></label>
                <label data-locale-string="participant.registration.registerAnotherParticipantDisclaimer" style="margin: 10px 0;"></label>
                <div style="text-align: center">
                    <button class="form-button" style="width: 100%; padding: 9px 12px; float: none; margin-top: 10px; font-size: 28px;"
                            data-ng-click="closeGroupRegistrationInfo()">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>