<!DOCTYPE html>
<div data-ng-controller="ExternalEventController" style="text-align: center; margin-top: 20px;">
    <img data-ng-src="{{ event.eventLogo.linkLarge }}"/>
</div>
<div id="event-login" class="content-padding" data-ng-class="{testmode : event.eventStatus === 'TESTMODE'}" data-ng-controller="EventStateController">

    <div class="form-container" data-ng-controller="LoginController">
        <span class="headline" data-locale-string="participant.login.label"></span>
        <hr/>
        <form data-ng-submit="login('administration.home')">
            <div class="input-container">
                <label for="email" data-locale-string="participant.login.email"></label>
                <input id="email" type="text" data-ng-model="user.username" data-error-aware name="email"/>
            </div>
            <div class="input-container">
                <label for="password" data-locale-string="participant.login.password"></label>
                <input id="password" type="password" data-ng-model="user.password" data-error-aware name="password"/>
            </div>
            <div class="input-container" style="text-align: right;">
                <div class="registration-link" style="float: left;">
                    <a class="link" data-ui-sref="event.home">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span data-locale-string="participant.login.back"></span>
                    </a>
                </div>
                <div class="registration-link" style="float: left; clear: both;">
                    <a class="link" data-ui-sref="event.password-recovery-init">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <span data-locale-string="participant.login.passwordRecovery"></span>
                    </a>
                </div>
                <input class="form-button" style="float: none" type="submit" value="{{ 'participant.login.proceed' | localized}}"/>
            </div>
        </form>
    </div>

</div>
