<!DOCTYPE html>
<footer>
    <div id="footer-menu-container">
        <div id="footer-menu">
            <div style="float: left;">
                <a href="http://www.scisertec.de" target="_blank">
                    <img src="images/SciSerTec/SciSerTec-Logo-small.png"
                         alt="Logo SciSerTec" style="height: 16px; vertical-align: -2px;">
                </a>
                SciSerTec
                <span class="divider">|</span>
                <a href="http://www.vcongress.de" title="vCongress - virtual Congress Manager" target="_blank">vC</a>
                <span class="divider">|</span>
                <a href="http://www.dwwebsites.de" title="dw-websites" target="_blank">dw</a>
                <span class="divider">|</span>
                <a href="http://www.sciser.net" title="SciSerNet - Scientific Service Network" target="_blank">Net</a>
                <span class="divider">|</span>
                <a href="http://www.scisertec.de" title="SciSerTec - Science, Service and Technologies">Tec</a>
                <span class="divider">|</span>
                <a href="https://plus.google.com/102133653331103179354?rel=author" title="Google+ Profile"
                   target="_blank">G+</a>
            </div>

            <div style="float: right;">
                <a ui-sref="event.home">Home</a>
                <span class="divider">|</span>
                <a ui-sref="event.contact">
                    <span data-locale-string="common.contact"></span>
                </a>
                <span class="divider">|</span>
                <a ui-sref="event.imprint">
                    <span data-locale-string="common.imprint"></span>
                </a>
                <span class="divider">|</span>
                <a data-ng-href="{{ 'general.termsAndConditionsLink' | localized }}" target="_blank">
                    <span data-locale-string="common.terms"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
