<!DOCTYPE html>
<div data-ng-controller="ExternalEventController" style="text-align: center; margin-top: 20px;">
    <img data-ng-src="{{ event.eventLogo.linkLarge }}"/>
</div>
<div id="contact" class="content-padding">

    <div class="form-container">
        <h1 data-locale-string="imprint.headline"></h1>
        <hr/>
        <div>
            <strong>SciSerTec</strong><br/>
            Dr. Daniel Breuer, Malte Bruweleit<br/>
            c/o Medizinische Hochschule Hannover (MHH)<br/>
            Veranstaltungsmanagement OE 0060<br/>
            Carl-Neuberg-Straße 1<br/>
            D-30625 Hannover<br/>
            <br/>
            Sales tax ID.-No.: DE286316494<br/>
            <br/>
            <strong data-locale-string="contact.phone"></strong>: +49 (0) 511 - 10 54 894<br/>
            <strong data-locale-string="contact.email"></strong>: <a href="mailto:team@scisertec.de">team@scisertec.de</a><br/>
            <strong>Web</strong>: <a href="http://www.scisertec.de">http://www.scisertec.de</a>
        </div>
        <hr/>
        <div>
            <h2 data-locale-string="imprint.text1Headline"></h2>
            <p data-locale-string="imprint.text1Content"></p>

            <h2 data-locale-string="imprint.text2Headline"></h2>
            <p data-locale-string="imprint.text2Content"></p>

            <h2 data-locale-string="imprint.text3Headline"></h2>
            <p data-locale-string="imprint.text3Content"></p>

            <h2><span>Urheberrecht:</span></h2>
            <p>
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
                Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
                Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
                Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
                Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte
                Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem
                auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
                Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
            </p>
        </div>
    </div>

</div>
