<!DOCTYPE html>
<div data-ng-controller="ExternalEventController" style="text-align: center; margin-top: 20px;">
    <img data-ng-src="{{ event.eventLogo.linkLarge }}"/>
</div>
<div id="password-recovery" class="content-padding" data-ng-controller="PasswordChangeInitController">

    <div class="form-container">
        <span class="headline" data-locale-string="participant.passwordRecovery.headline"></span>
        <hr/>
        <span data-locale-string="participant.passwordRecovery.description"></span>
        <hr/>
        <form>
            <div class="input-container">
                <label for="email" data-locale-string="participant.passwordRecovery.email"></label>
                <input id="email" type="text" name="email" data-ng-model="recover.mail" data-error-aware/>
            </div>
            <div class="input-container">
                <div class="registration-link clearfix" style="float: left;">
                    <a class="link" data-ui-sref="{{ backlink }}">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span data-locale-string="participant.passwordRecovery.back"></span>
                    </a>
                </div>
                <input class="form-button"  data-ng-click="initPasswordChange(recover)" type="submit" value="{{ 'participant.passwordRecovery.send' | localized }}"/>
            </div>
        </form>
    </div>

    <div style="width: 100%; text-align: center; padding: 20px 0;">
        <span style="color: green; font-weight: bold;" data-ng-show="initSuccessful">
            <span data-locale-string="participant.passwordRecovery.successful"></span>
        </span>
    </div>

</div>
