<!DOCTYPE html>
<div data-ng-controller="ExternalEventController" style="text-align: center; margin-top: 20px;">
    <img data-ng-src="{{ event.eventLogo.linkLarge }}"/>
</div>
<div id="password-recovery" class="content-padding" data-ng-controller="PasswordChangeController">

    <div class="form-container">
        <span class="headline" data-locale-string="participant.passwordRecoveryExecute.headline"></span>
        <hr/>
        <span data-locale-string="participant.passwordRecoveryExecute.description" data-locale-variables="{mail : mail}"></span>
        <hr/>
        <form>
            <div class="input-container">
                <label for="newPassword" data-locale-string="participant.passwordRecoveryExecute.newPassword"></label>
                <input id="newPassword" type="password" name="newPassword" data-ng-model="recover.newPassword" data-error-aware/>
            </div>
            <div class="input-container">
                <label for="newPasswordRetype" data-locale-string="participant.passwordRecoveryExecute.newPasswordRetype"></label>
                <input id="newPasswordRetype" type="password" name="newPasswordRetype" data-ng-model="recover.newPasswordRetype" data-error-aware/>
            </div>
            <div class="input-container">
                <div class="registration-link clearfix" style="float: left;">
                    <a class="link" data-ui-sref="{{ backlink }}">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span data-locale-string="participant.passwordRecoveryExecute.back"></span>
                    </a>
                </div>
                <input class="form-button"  data-ng-click="changePassword(recover)" type="submit" value="{{ 'participant.passwordRecoveryExecute.changePassword' | localized }}"/>
            </div>
        </form>
    </div>

    <div style="width: 100%; text-align: center; padding: 20px 0;">
        <span style="color: green; font-weight: bold;" data-ng-show="changeSuccessful" data-locale-string="participant.passwordRecoveryExecute.successful"></span>
    </div>

</div>
