<!DOCTYPE html>
<div id="dinner-creation" data-ng-controller="DinnerController">
    <div class="form-container" data-ng-show="!deleted">
        <div data-ng-click="initialOpen = !initialOpen;" style="margin-bottom: 10px; cursor: pointer;">
            <span data-ng-show="!initialOpen" class="glyphicon glyphicon-chevron-down" style="margin: 10px; position: absolute; left: 0; top: 0; font-size: 54px; color: #565656"></span>
            <span data-ng-show="initialOpen" class="glyphicon glyphicon-chevron-up" style="margin: 10px; position: absolute; left: 0; top: 0; font-size: 54px; color: #565656"></span>
            <span class="headline" data-locale-string="administration.eventEditation.checkbox.headline"></span><br/>
            <span class="subheadline" data-ng-bind="eventFeature.label"></span>
            <a class="btn btn-danger" style="margin: 10px; position: absolute; right: 9px; top: 7px;" data-tooltip
               data-original-title="{{ 'administration.eventEditation.checkbox.deleteCheckbox' | localized }}"
               data-ng-click="removeEventFeature(eventFeatureId);">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <div data-ng-hide="!initialOpen">
            <hr/>
            <form>
                <div class="input-container">
                    <label for="label">
                        <span data-locale-string="administration.eventEditation.checkbox.featureLabel"></span>
                    </label>
                    <input id="label" type="text" data-error-aware
                           data-ng-change="updateEventFeature(eventFeatureId, eventFeature)"
                           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                           data-ng-model="eventFeature.label" name="label"/>
                </div>
                <div class="input-container">
                    <label for="featureDescription">
                        <span data-locale-string="administration.eventEditation.checkbox.featureDescription"></span>
                        <span class="glyphicon glyphicon-info-sign" data-tooltip=""
                              data-original-title="{{ 'administration.eventEditation.checkbox.featureDescriptionTooltip' | localized }}"></span>
                    </label>
                    <textarea class="smaller" id="featureDescription" data-ng-change="updateEventFeature(eventFeatureId, eventFeature)"
                              ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                              data-ng-model="eventFeature.description" name="description"></textarea>

                </div>
            </form>
            <hr/>
            <form>
                <div data-ng-show="editMode || newItem">
                    <div class="input-container">
                        <label for="participantStatus">
                            <span data-locale-string="administration.eventEditation.checkbox.checkboxLabel"></span>
                        </label>
                        <input id="participantStatus" type="text" data-error-aware
                               data-ng-model="status.name" name="participantStatus"/>
                    </div>
                    <div class="input-container">
                        <label for="description">
                            <span data-locale-string="administration.eventEditation.checkbox.checkboxDescription"></span>
                            <span class="glyphicon glyphicon-info-sign" data-tooltip=""
                                  data-original-title="{{ 'administration.eventEditation.checkbox.checkboxDescriptionTooltip' | localized }}"></span>
                        </label>
                        <textarea class="smaller" id="description" data-error-aware
                                  data-ng-model="status.description" name="description"></textarea>

                    </div>
                    <div class="input-container" data-ng-class="{ disabled: disableLimit }">
                        <label>
                            <span data-locale-string="administration.eventEditation.checkbox.limitQuestion"></span>
                        </label>
                        <button class="form-button" style="float: none" data-ng-click="activateLimit()">
                            <span data-locale-string="common.yes"></span>
                        </button>
                        <button class="form-button" style="margin-left: 10px; float: none" data-ng-click="deactivateLimit()">
                            <span data-locale-string="common.no"></span>
                        </button>
                    </div>
                    <div class="input-container" data-ng-if="limit">
                        <label for="limit">
                            <span data-locale-string="administration.eventEditation.checkbox.limit"></span>
                            <span class="glyphicon glyphicon-info-sign" data-tooltip=""
                                  data-original-title="{{ 'administration.eventEditation.checkbox.limitTooltip' | localized }}"></span>
                        </label>
                        <input id="limit" type="number" data-error-aware
                               data-ng-model="status.limit" name="limit"/>
                    </div>
                    <div class="input-container" data-ng-if="eventService.isModuleSelected('ACCOUNT')">
                        <label for="cost">
                            <span data-locale-string="administration.eventEditation.checkbox.cost"></span>
                        </label>
                        <input id="cost" type="text" data-error-aware
                               data-ng-model="status.cost" name="cost"/>
                    </div>
                    <div class="input-container" data-ng-class="{ disabled: disableTax }" data-ng-if="eventService.isModuleSelected('ACCOUNT')">
                        <label>
                            <span data-locale-string="administration.eventEditation.checkbox.taxQuestion"></span>
                        </label>
                        <button class="form-button" style="float: none" data-ng-click="activateTax()">
                            <span data-locale-string="common.yes"></span>
                        </button>
                        <button class="form-button" style="margin-left: 10px; float: none" data-ng-click="deactivateTax()">
                            <span data-locale-string="common.no"></span>
                        </button>
                    </div>
                    <div class="input-container" data-ng-if="tax && eventService.isModuleSelected('ACCOUNT')">
                        <label for="tax">
                            <span data-locale-string="administration.eventEditation.checkbox.tax"></span>
                        </label>
                        <input id="tax" type="number" data-error-aware
                               data-ng-model="status.tax" name="tax"/>
                    </div>
                </div>

                <div style="margin: 10px 0;">
                    <div class="input-container" data-ng-show="newItem || editMode">
                        <input class="action-button" style="margin-left: 10px; float: right;" data-ng-if="editMode || newItem" data-ng-click="exitEditStatus();" type="submit" value="{{ 'common.cancel' | localized }}"/>
                        <input class="action-button" style="float: right" data-ng-if="!editMode" data-ng-click="addStatus();" type="submit" value="{{ 'administration.eventEditation.checkbox.create' | localized }}"/>
                        <input class="action-button" style="float: right" data-ng-if="editMode" data-ng-click="editStatus();" type="submit" value="{{ 'administration.eventEditation.checkbox.edit' | localized }}"/>
                    </div>
                    <div class="input-container" data-ng-show="!newItem && !editMode">
                        <input class="action-button" style="float: right" data-ng-click="newItem = true" type="submit" value="{{ 'administration.eventEditation.checkbox.createNew' | localized }}"/>
                    </div>
                </div>
            </form>
            <div>
                <table class="participant-status-table table table-striped">
                    <tr data-ng-repeat="dinnerFeature in eventFeature.dinnerFeatures | orderBy:'id' ">
                        <td class="participant-status">
                            <span>{{dinnerFeature.eventItem.name}}</span>
                            <span data-ng-if="dinnerFeature.eventItem.limit" style="margin-left: 10px; font-size: 18px;">
                                <span class="badge" style="background: black"
                                      data-tooltip="" data-original-title="{{ 'common.limit' | localized }}">{{ dinnerFeature.eventItem.limit }}</span>
                            </span>
                            <span data-ng-if="dinnerFeature.eventItem.cost" style="margin-left: 10px; font-size: 18px;">
                                <span class="badge" style="background: green;"
                                      data-tooltip="" data-original-title="{{ 'common.cost' | localized }}">
                                    {{ dinnerFeature.eventItem.cost | currency:'' }} &euro;
                                </span>
                            </span>
                        </td>
                        <td class="interactions">
                            <a class="btn btn-info" data-tooltip data-original-title="{{ 'administration.eventEditation.checkbox.edit' | localized }}" data-ng-click="startEditStatus(dinnerFeature);">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn btn-danger delete-btn" data-tooltip data-original-title="{{ 'administration.eventEditation.checkbox.delete' | localized }}" data-ng-click="removeDinner(dinnerFeature.id);">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>